/* TODO: put Ring left normally, not like right now. I need to pull up on CSS grids */
.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 3rem;
  list-style: none;
  padding-left: 0;
}

.item {}

.item__title {
  text-align: center;
}

.item__list {
  padding-left: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.item__item--not-certain {
  text-decoration: underline dotted;
}