/* TODO: put Ring left normally, not like right now. I need to pull up on CSS grids */
.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "helm body boots"
  "weapon-left-hand . weapon-right-hand"
  "ring-left amulet ring-right";
  column-gap: 3rem;
  list-style: none;
  padding-left: 0;
}

.item {}
.item--weapon-left-hand {
  grid-area: weapon-left-hand;
}
.item--weapon-right-hand {
  grid-area: weapon-right-hand;
}

.item__title {
  text-align: center;
}

.item__list {
  padding-left: 20px;
  list-style-type: disc;
  padding-left: 20px;
}